<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Saudi Aramco Predictions</title>
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {

	animationEnabled: true,
	animationDuration: 2000,
	theme: "dark1",
	zoomEnabled:true,
	interactivityEnabled: true,
	fill: false,
      lineTension: 0.1,
      backgroundColor: "rgba(30, 131, 143,0.95)",
      borderColor: "rgb(85,107,47,1)",
      borderCapStyle: 'butt',
      borderDash: [],
      borderDashOffset: 0.0,
      borderJoinStyle: 'miter',
      pointBorderColor: "rgba(85,107,47,1)",
      pointBackgroundColor: "white",
      pointBorderWidth: 1,
      pointHoverRadius: 5,
      pointHoverBackgroundColor: "rgba(85,107,47,1)",
      pointHoverBorderColor: "rgba(220,220,220,1)",
      pointHoverBorderWidth: 2,
      pointRadius: 1,
      pointHitRadius: 10,
	axisX: {
	    title: "Time",
		interval: 1,
		intervalType: "month",
		valueFormatString: "MMM"
	},
	axisY:{
		title: "Stock Value",
		valueFormatString: "$#0"
	},

	data: [{
	    color: "white",
	    lineColor: "red",
		type: "line",
		dataPoints: [
			{ x: new Date(2019, 00, 1), y: 450 },
			{ x: new Date(2019, 01, 1), y: 414},
			{ x: new Date(2019, 02, 1), y: 520, indexLabel: "highest",markerColor: "white", markerType: "triangle",  markerSize: 15},
			{ x: new Date(2019, 03, 1), y: 460 },
			{ x: new Date(2019, 04, 1), y: 450 },
			{ x: new Date(2019, 05, 1), y: 500 },
			{ x: new Date(2019, 06, 1), y: 480 },
			{ x: new Date(2019, 07, 1), y: 480 },
			{ x: new Date(2019, 08, 1), y: 410 , indexLabel: "lowest",markerColor: "white", markerType: "cross",  markerSize: 15 },
			{ x: new Date(2019, 09, 1), y: 500 },
			{ x: new Date(2019, 10, 1), y: 480 },
			{ x: new Date(2019, 11, 1), y: 510 }
		]
	}]
});
chart.render();

}
</script>
    </head>
    <body>
        {% extends "home.HTML" %}
        {% block content %}
        <p> This is the page for Saudi Aramco </p>
         <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        {% endblock %}
    </body>
</html>